/* Comentário do CSS */
/* Seletor de elemento */
body{
    background-color: #30302e;
    color: #ffffff;
    font-family: Verdana;
    padding: 20px;
}
/* p -> seletor */
/* font-size -> propreidade */
p{
    font-size: 16px;
    line-height: 1.6;
    /* Margem inferior */
    margin-bottom: 16px;
    color: #8cc9e4;
    /* Espaço interno do elemento */
    padding: 10px;
}

section p{
    color: orange;
}
/* Seletor de classe */
.destaque{
    background-color: #ffd700;
    color: #000000;
    padding: 10px;
    /* Border 5px (espessura) solid 
    (tipo da borda) e a cor */
    border-right: 5px solid #ff6347;
    border-radius: 3px;
}

/* Seletor de ID */
#unico{
    background-color: #8cc9e4;
    color: #30302e;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    height: 100px;
    /* Height é a altura */
    /* Width é a largura */
}